<html lang="en">
<head>
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/styles.css">
    <title>Small CRM Little Backend</title>
</head>

<body>
    <div class="container">
        {{{ body }}}
    </div>

    <script src="http://localhost:3000/js/jquery.js"></script>
    <script src="http://localhost:3000/js/popper.js"></script>
    <script src="http://localhost:3000/js/bootstrap.min.js"></script>
</body>
</html>